# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

#Virtual envs
.env
.venv
env/
venv/

# Jupyter 
.ipynb_checkpoints
#Data y MODELOS
data/processed/
models/
reports/logs/
reports/figures/
reports/tables/

# OS / IDE
.DS_store
.vscode/
.idea/
